.code_wrap{
  input{
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
  }
  .btn{
    width: 311px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    background: #F2F2F2;
    border: none;
  }
}